body {
	font-family: 'futura', helvetica, sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
	color: #444;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    background: rgba(0, 0, 0, .05);
    text-align: center;
    padding: 11px;
    width: 230px;
    margin: 0;
}

ul {
    list-style: none;
	padding: 0;
    margin: 0;
}

li {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    position: relative;
    padding-left: 30px;
    line-height: 32px;
    font-size: 16px;
}

li:hover {
	background: rgba(0, 0, 0, .04);
}

a:last-child li {
	border-bottom-width: 0;
}

/** adding ridiculous background-position imaging */
li:before {
    background-image: url(icos_loterias.png);
    background-size: 20px;
    position: absolute;
    height: 20px;
    width: 20px;
    content: '';
    left: 3px;
    top: 6px;
}

a:nth-child(1) li:before {
	background-position: 0 0;
}

a:nth-child(2) li:before {
	background-position: 0 204px;
}

a:nth-child(3) li:before {
	background-position: 0 178px;
}

a:nth-child(4) li:before {
	background-position: 0 151px;
}

a:nth-child(5) li:before {
	background-position: 0 100px;
}