body {
	font-family: Verdana;
	background: rgb(120,206,0);
	background: -moz-linear-gradient(left,  rgba(120,206,0,1) 0%, rgba(149,214,0,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(120,206,0,1) 0%,rgba(149,214,0,1) 100%);
	background: linear-gradient(to right,  rgba(120,206,0,1) 0%,rgba(149,214,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78ce00', endColorstr='#95d600',GradientType=1 );
	text-align: center;
	line-height: 30px;
	color: #FFF;
}

html, body {
	padding: 0;
	margin: 0;
	width: 160px;
	height: 30px;
}

ul {
	padding: 0;
	margin: 10px 0;
	list-style: none;
}

li {
	width: 80%;
	color: #FFF;
	margin: 0 auto;
	cursor: pointer;
	margin-top: 10px;
	font-weight: bold;
	border-radius: 4px;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	background: rgba(255, 255, 255, .3);
}

li:hover {
	background: rgba(255, 255, 255, .5);
}